input,
button {
  appearance: none;
  /* background: none; */
  border: none;
  outline: none;
}
.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

form {
  display: block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.459);
  /* border: white solid 1px; */
  padding: 1.5rem;
  width: 37%;
}
.form-inner {
 
  /* border: black solid 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-inner h2 {
  font-size: 55px;
  color: rgb(51, 51, 51);
}
.form-group{
 
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 90%;
  /* border: black solid 1px; */
}

.form-group label {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
}
.input{
  height: 1.8rem;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  text-indent: 1rem;
}
.input:hover{
  background: rgb(238, 238, 238);
}
.loginbtn{
  width: 30%;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
}
.loginbtn:hover{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  color: white;
}